<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
		"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
	<plist version="1.0">
	<dict>
		<key>EnvironmentVariables</key>
		<dict>
			<key>PATH</key>
			<string>addpath</string>
		</dict>
		<key>Label</key>
		<string>com.mountrclone</string>
		<key>Program</key>
		<string>pathtoshellscript.sh</string>
		<key>RunAtLoad</key>
		<true/>
		<key>StandardOutPath</key>
		<string>pathto/rclonesetup/out.log</string>
		<key>StandardErrorPath</key>
		<string>pathto/error.log</string>
	</dict>
	</plist>